PORT=3000
BINANCE_REST_BASE=https://fapi.binance.com
BINANCE_WS_BASE=wss://fstream.binance.com/stream
UNIVERSE_SIZE=50
MIN_24H_QUOTE_VOLUME_USDT=10000000
PAPER_BALANCE_USDT=1000
RISK_PER_TRADE_PCT=1
MAX_DAILY_RISK_PCT=6
MAX_TOTAL_POSITIONS=6
MAX_MOMENTUM_POSITIONS=3
MAX_SCALPING_POSITIONS=3
COOLDOWN_MINUTES=15
MIN_CONFIRMED_SCORE=75
